/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   top: 0; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }
 
 /**
   * 1. Make sure the dialog container and all its descendants sits on
   *    top of the rest of the page.
   * 2. Make the dialog container a flex container to easily center the
   *    dialog.
   */
 .dialog-container {
   z-index: 2; /* 1 */
   display: flex; /* 2 */
 }
 
 /**
   * 1. Make sure the dialog container and all its descendants are not
   *    visible and not focusable when it is hidden.
   */
 .dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
   * 1. Make the overlay look like an overlay.
   */
 .dialog-overlay {
   background-color: rgb(43 46 56 / 0.9); /* 1 */
   animation: fade-in 200ms both;
 }
 
 /**
   * 1. Vertically and horizontally center the dialog in the page.
   * 2. Make sure the dialog sits on top of the overlay.
   * 3. Make sure the dialog has an opaque background.
   */


  
 .dialog-content {
   margin: auto; /* 1 */
   z-index: 2; /* 2 */
   position: relative; /* 2 */
   background-color: #FAF7FF; /* 3 */
   animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
   padding: 1em;
   max-width: 90%;
   width: 700px;
   border-radius: 5px;
 }
 
 @media screen and (min-width: 700px) {
   .dialog-content {
     padding: 2em;
   }
 }
 
 @keyframes fade-in {
   from {
     opacity: 0;
   }
 }
 
 @keyframes slide-up {
   from {
     transform: translateY(10%);
   }
 }
 
 @media (prefers-reduced-motion: reduce) {
   .dialog-overlay,
   .dialog-content {
     animation: none;
   }
 }
 
 .dialog-content h1 {
   margin: 0;
   font-size: 1.25em;
   text-align: center;
 }
 
 .dialog-close {
   position: absolute;
   top: 0.5em;
   right: 0.5em;
   border: 0;
   padding: 0.25em;
   background-color: transparent;
   font-size: 1.5em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   cursor: pointer;
   transition: 0.15s;
   border-radius: 50%;
   color: black;
 }
 
 .dialog-close:hover {
   background-color: rgb(50 50 0 / 0.15);
 }
 
 @media screen and (min-width: 700px) {
   .dialog-close {
     top: 1em;
     right: 1em;
   }
 }
 
 * {
   box-sizing: border-box;
 }
 
 body {
   font: 125% / 1.5;
     font-family: 'Rubik', sans-serif;
   /* padding: 2em 0; */
 }
 
 /* .my-dialog-title h1 {
   font-size: 1.6em;
   line-height: 1.1;
   text-align: center;
 } */
 
 h1 span {
   color: #e50050;
 }
 
 h1,
 h2 {
   font-family: 'Rubik', sans-serif;
   margin-bottom: 0;
 }
 
 .button1,
 a {
   color: black;
 }
 
 .button1:hover,
 .button1:active,
 a:hover,
 a:active {
   color: #4D3678;
 }
 
 /* input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
} */





 /* -------------------------------------------------------------------------- *\
  * Helpers
  * -------------------------------------------------------------------------- */

 
 /* -------------------------------------------------------------------------- *\
  * Layout
  * -------------------------------------------------------------------------- */
 
 main {
   max-width: 700px;
   margin: 0 auto;
   padding: 0 1em;
 }
 
 footer {
   border-top: 1px solid silver;
   padding: 20px 0;
 }
 
 /* -------------------------------------------------------------------------- *\
  * Form styling
  * -------------------------------------------------------------------------- */
 
 form {
   margin-top: 1em;
   font-family: 'Rubik', sans-serif;

 }
 
 @media screen and (min-width: 700px) {
   form {
     display: flex;
     flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

   }

   form > * {
    flex: 1;
   }
 }
 
 /* form label {
   font-weight: bold;
   margin: 5px 10px 5px 0;
   vertical-align: middle;
   flex: 1 0 100%;
 } */

 /* this section of code is taken from a website. referenced in README */
 .leftcontainer label {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid black;
  margin-bottom: 9px;
}
label>span {
  transition: all .2s;
  transform-origin: top left;
}
label>input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.25);
  pointer-events: none;
  opacity: .5
}



 
 form input {
   font-family: 'Rubik', sans-serif;
   padding: 0.95em;
   border: 0.0px solid black;
   width: 100%;
   margin: 0.25em 0 1em;
   border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: italic;
  box-shadow: 0 10px 6px -6px #d3d3d3;  

 }
 
 @media screen and (min-width: 700px) {
   form input {
     /* flex: 0.5; */
     width: auto;
     /* margin: 0; */
   }
 }
 
 .category label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 9px;
}



 /* form button {
   background-color: #81c784;
   color: white;
   border: 0;
   font-family: inherit;
   font-size: inherit;
   padding: 8px 15px;
   cursor: pointer;
   transition: 0.15s;
   display: inline-block;
 } */
 
 /* form button:hover,
 form button:active {
   background-color: #66bb6a;
 } */
 
button#submit {
color: #FFFFFF;
width: 100px;
height: 35px;
background-color: #78669A;
/* padding: 8px 15px; */
cursor: pointer;
transition: 0.15s;
display: inline-block;
font-weight: bold;
font-family: 'Rubik', sans-serif;
border-radius: 10px;
/* margin-top: 20px; */
font-size: 17px;
}



h3{
  margin: 0;
}



.category{
  display: flex;
  justify-content: space-between;
  /* padding: 15px; */
  /* box-shadow: 0 10px 6px -6px #d3d3d3;   */
  flex-direction: column;
  overflow: scroll;
  height: 350px;
  align-items: center;
  /* margin-right: 50px; */
}

.beer{
  width: 175px;
  height: 150px; 
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* padding: 20px; */
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #d3d3d3;  
}

.beerheading h3{
  background-color: #FFE4D0;
  border-radius: 10px;
  font-size: 20px;
  align-content: center;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
}


.wineheading h3 {
  background-color: #EBC6FC;
  font-size: 20px;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
}

.spiritheading h3 {
  background-color: #CCE0A0;
  font-size: 20px;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 53px;
  padding-right: 53px;
}

.cocktailheading h3 {
  background-color: #FCF6B1;
  font-size: 20px;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 41px;
  padding-right: 41px;
}

.champheading h3 {
  background-color: #bae4f3;
  font-size: 20px;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.otherheading h3 {
  background-color: #EFE9F4;
  font-size: 20px;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 57px;
  padding-right: 57px;
}



.beerimg {
  width: 140px;
  height: 110px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}




.leftcontainer{
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.namecon {
  padding: 10px;
}

.pricecon {
  padding: 10px;
}

.locationcon {
  padding: 10px;
}



/* radio button css */
/* 
.radio-button {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
  overflow: scroll;
  height: 400px;
  align-items: center;
  margin-right: 50px;
  margin: 5px;
}
.radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-button label {
  display: flex;
  background-color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #d3d3d3;  
  margin-bottom: 20px;
}
.radio-button label:hover {
  background-color: #b1e3c1;
}
.radio-button input[type="radio"]:focus + label {
  border: 2px dashed #666;
}
.radio-button input[type="radio"]:checked + label {
  background-color: #76cf9f;
  border-color: #666;
} */


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}
