html {
    height: 100%;
    width: 100%;
  }
  /* * {
    border: 1px solid black;
  } */

  /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
  /* box shadow syntax goes as the following */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3A216A;
    padding: 15px;
    box-shadow: 0 10px 6px -6px #777;  }
  
  .logo a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #3A216A;
    padding-left: 15px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
  }
  
  .profile {
    display: none;
  }
  
  @media (min-width: 768px) {
    .profile {
      display: block;
      position: relative;
    }
    
    .profile ul {
      display: none;
      position: absolute;
      top: 30px;
      right: 0;
      padding: 10px;
    }
    
    .profile:hover ul {
      display: block;
    }
    
    .logo {
      order: 1;
    }
    
    .menu {
      order: 2;
    }
    
    .profile {
      order: 3;
    }
  }
  
  @media (max-width: 767px) {
    .logo {
      text-align: center;
      order: 1;
    }
    
    .menu {
      order: 3;
    }
    
    .profile {
      display: block;
      order: 2;
    }
    
    .profile a {
      display: none;
    }
    
    .profile:hover a {
      display: block;
      position: relative;
      top: 20px;
      right: 0;
      padding: 10px;
      text-align: center;
      z-index: 1;
    }
  }
  
  .profile img{
    height: 70px;
  }
.logo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
  .logo img{
    height: 60px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 40px;
  }
  
  .block img {
   width: auto;
   height: 620px;
  }

  .seemore{
    width: auto;
    height: auto;
    background-color: #4C3578; 
  }

  .seemore img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

.bodysection{
  background-color: #FAF8FF; 
  width: auto;
  height: 1500px;
  margin-left: 90px;
  margin-right: 90px;
}

.headingcontainer{
  display: flex;
  padding: 0% 7%;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
}

h1{
  margin:0;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  flex: 1;
}


.button1{
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  width: 135px;
  background-color: #FFFFFF; 
  align-items: center;
  display: flex;
  margin: 7px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;  
}

.button2{
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  background-color: #FFFFFF; 
  align-items: center;
  display: flex;
  margin: 7px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;  
}


/* adds plus button after the page content loads */
#plus-button::after {
  content: "+";
  /* font-weight: bold; */
  font-size: 30px;
}

.activitysection{
  display: flex;
  justify-content: space-between;
  padding: 2% 7%;
}
/* .activitysection * {
  flex: 1;
} */

.adddrink{
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  width: 400px;
  /* height: 600px; */
  background-color: #FFFFFF; 
  /* display: flex; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  box-shadow: 0 10px 6px -6px #777;  
}



.subheading {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* 
.bodycontainer{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}



.drinkingchoice {
  width: auto;
  height: 500px;
} */


