html {
  height: 100%;
  width: 100%;
}
/* * {
  border: 1px solid black;
} */

/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
/* box shadow syntax goes as the following */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3A216A;
  padding: 15px;
  box-shadow: 0 10px 6px -6px #d3d3d3;  
}

.logo a {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #3A216A;
  padding-left: 15px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.profile {
  display: none;
}

@media (min-width: 768px) {
  .profile {
    display: block;
    position: relative;
  }
  
  .profile ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 10px;
  }
  
  .profile:hover ul {
    display: block;
  }
  
  .logo {
    order: 1;
  }
  
  .menu {
    order: 2;
  }
  
  .profile {
    order: 3;
  }
}

@media (max-width: 767px) {
  .logo {
    text-align: center;
    order: 1;
  }
  
  .menu {
    order: 3;
  }
  
  .profile {
    display: block;
    order: 2;
  }
  
  .profile a {
    display: none;
  }
  
  .profile:hover a {
    display: block;
    position: relative;
    top: 20px;
    right: 0;
    padding: 10px;
    text-align: center;
    z-index: 1;
  }
}

.profile img{
  height: 70px;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  
}
.logo img{
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.block img {
 width: auto;
 height: 620px;
}

.block{
  display: flex;
  justify-content: space-between;
}

.seemore{
  width: auto;
  height: auto;
  background-color: #4C3578; 
}

.seemore img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.bodysection{
background-color: #FAF8FF; 
width: auto;
height: 1525px;
margin-left: 90px;
margin-right: 90px;
}

.headingcontainer{
display: flex;
padding: 0% 7%;
padding-top: 50px;
align-items: center;
justify-content: space-between;
}

h1{
margin:0;
font-family: 'Rubik', sans-serif;
font-size: 40px;
flex: 1;
}

.button1 {
padding-left: 5px;
padding-right: 5px;
height: 90px;
width: 153px;
background-color: #FFFFFF; 
align-items: center;
display: flex;
margin: 7px;
font-size: 23px;
border-radius: 10px;
box-shadow: 0 10px 6px -6px #d3d3d3;  
cursor: pointer;
justify-content: center;
}

.subheading p {
display: flex;
margin-bottom: 0;
}

.bac{
align-items: center;
display: flex;
padding: 10px;
align-items: flex-start;
height: 90px;
justify-content: space-evenly;
background-color: #FFFFFF; 
font-size: 20px;
border-radius: 10px;
box-shadow: 0 10px 6px -6px #d3d3d3;
flex-direction: column;
}

.bac p {
margin: 0;
}

.activitysection{
display: flex;
justify-content: space-between;
padding: 2% 7%;
}
/* .activitysection * {
flex: 1;
} */

.adddrink{
padding-left: 20px;
padding-right: 20px;
border-radius: 25px;
width: 400px;
background-color: #FFFFFF; 
box-shadow: 0 10px 6px -6px #d3d3d3;  
}

.subheading {
border-bottom: 1px solid black;
display: flex;
justify-content: space-between;
align-items: center;

}


/* issue with newly added drinks being put at the end - make column reverse  */
.drink-container {
padding: 10px;
overflow: scroll;
height: 550px;
display: flex;
flex-direction: column;
/* margin-top: 20px; */
}



.drink-container h2 {
margin-top: 0;
}

.drink {
margin-bottom: 10px;
padding: 10px;
background-color: #fff;
border: 0.5px solid #e7e5e5;
border-radius: 5px;
display: flex;
box-shadow: 0 10px 6px -6px #d3d3d3; 
/* flex: 1; */
}

.layout{
display: flex;
flex-direction: column;
justify-content: space-between;
flex-grow: 1;
margin: 0 5px;
}


.lineone{
display: flex;
justify-content: space-between;
font-size: 18px;
font-weight: bold;
}

.linetwo{
display: flex;
justify-content: space-between;
opacity: 0.5;
}

.linethree{
display: flex;
justify-content: space-between;
opacity: 0.5;
}

button.delete-btn{
color:black;
background-color: transparent;
display: flex;
border: 0px solid;
font-size: 20px;
cursor: pointer;
}

button.delete-btn:hover{
color: grey;
}

.drink p {
margin: 0;
}

.drink span {
font-weight: normal;
}

.namecss p{
display: flex;
}


.secondheader{
margin-top: 40px;
padding-left: 85px;
margin-bottom: 30px;
}

.secondbody{
display: flex;
margin-top: 20px;
justify-content: space-evenly;
}

.chart {
width: auto;
height: 400px;
border-radius: 20px;
box-shadow: 0 10px 6px -6px #d3d3d3;  
}


.moodtracker{
background-color: white;
width: 350px;
height: 380px;
border-radius: 20px;
box-shadow: 0 10px 6px -6px #d3d3d3;  
}

.moodheading h3{
font-size: 30px;
font-family: 'Rubik', sans-serif;
display: flex;
justify-content: center;
padding-top: 10px;
background-color: #F0E9fe;
font-weight: bold;
padding-bottom: 10px;
border-radius: 5px;

}

.rating-text{
font-family: 'Rubik', sans-serif;
padding-left: 20px;
font-size: 20px;
}

.rating-text p{
  margin:0;
  padding-top: 10px;
}

.rating {
  padding-bottom: 10px;
}

.rating-form{
display: flex;
}

.rating-container{
  display: flex;
  flex-direction: column;
}



.rating-container svg{
height: 40px;
width: 40px;
margin-left: 17px;  
margin-top: 0;
}
input + svg {
cursor: pointer;
}
input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
fill: rgb(239, 42, 16);
}


#pieChart {
width: 450px;
height: 450px;
}


#faq {
flex-grow: 1;
}

.loccss{
  opacity: 50%;
}

#faq p {
position: relative;
overflow: hidden;
max-height: 250px;
will-change: max-height;
contain: layout;
opacity: 1;
transform: translate(0, 0);
transition: .3s opacity, .6s max-height;
z-index: 2;
}

#faq .loccss {
  opacity: 50%;
  padding-left: 5px;
}

#faq ul {
list-style: none;
perspective: 900;
padding: 0;
margin: 0;
}
#faq ul li {
position: relative;
overflow: hidden;
padding: 0;
margin: 0;
/*padding-bottom: 4px;*/
/*padding-top: 18px;*/
background: #fff;
-webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
margin-top: 15px;
}
#faq ul li:last-of-type {
padding-bottom: 0;
}
#faq ul li i {
position: absolute;
transform: translate(-6px, 0);
margin-top: 28px;
right: 15px;
}
#faq ul li i:before, ul li i:after {
content: "";
position: absolute;
background-color: #cc071e;
width: 3px;
height: 9px;
}
#faq ul li i:before {
transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
position: absolute;
cursor: pointer;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
color: #000;
}
#faq ul li input[type=checkbox]:checked ~ p {
/*margin-top: 0;*/
max-height: 0;
transition: .3s;
opacity: 0;
/*transform: translate(0, 50%);*/
}
#faq ul li input[type=checkbox]:checked ~ i:before {
transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
transform: translate(-2px, 0) rotate(-45deg);
}

a,
a:visited,
a:focus,
a:active,
a:link {
text-decoration: none;
outline: 0;
}


#barChart{
  width: 450px;
  height: 340px;
}

.calendar{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #d3d3d3;
}


.calheading{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.endbanner{
  padding-top: 50px;
  width: 100%;
  height: auto;
}

#userInput {
  width: 90%;
  border: 0.1 solid #cecece;
  border-radius: 5px;
  /* margin: 0.25em 0 1em;
  padding: 15px 0.95em; */
  font-size:15px;
  /* margin-left: 55px; */
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 10px 6px -6px #d3d3d3;
  text-align: left;
  margin-top: 10px;
}

.textbox{
  display: flex;
  justify-content: space-around;
}

/* textarea {
  border: 0 solid #000;
} */

button#submit2 {
 color: #fff;
width: 140px;
height: 45px;
cursor: pointer;
background-color: #78669a;
border-radius: 10px;
font-family: 'Rubik', sans-serif;
font-size: 23px;
font-weight: bold;
transition: all .15s;
margin-top: 30px;
align-items: center;
}

.buttontwo{
display: flex;
justify-content: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fefefe;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 6px -6px #d3d3d3;
  color: #808080;
  font-size: 13px;
  border: 0.05px solid rgb(235, 235, 235);
}


.rightcontainergraph{
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  
}

.circlecontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
}

.circle #drinkNum {
  font-size: 23px;
  margin: 0;
  color: #4C3578;
}

.circle #calNum {
  font-size: 20px;
  margin: 0;
  color: #FF734D;
}

.circle #priceNum {
  font-size: 20px;
  margin: 0;
  color: #FDBF00;
}

.diaryinput{
  width: 370px;
  height: 380px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #d3d3d3;
}

/* .diaryentries{
  background-color: #fff;
  border: 0.5px solid #e7e5e5;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  box-shadow: 0 10px 6px -6px #d3d3d3;
} */

 /* .diarycontainer{
  margin-bottom: 30px;
} */

.diary{
  height:50px;
  margin-bottom: 50px;
  display: flex;
  padding-left: 20px;
  flex: 1;
  flex-direction: column;
} 

.delete-button{
  color: #000;
  cursor: pointer;
  background-color: #0000;
  border: 0 solid;
  font-size: 15px;
  display: flex;
  padding: 20px;
  align-items: center;
}

.diary-entry{
  display: flex; 

}

.diarycontents{
  display: flex;
  align-items: center;
}

.diaryheader{
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}




@media only screen and (max-width: 400px) {
 .picblock{
  display: none;
 }

 .drinkingchoice{
  display: none;
 }

 .secondbody{
  flex-direction: row;
  display: none;
 }

 .headingcontainer{
  flex-direction: column;
 }

 .seemore{
  display: none;
 }

 body{
  display: flex;
  flex-direction: column;
 }

 .bodysection{
  margin:0;
 }

 .container{
  margin:0;
  padding:0;
 }

 #pieChart{
  height: 300px;
  margin-bottom: 130px;
  padding: 0;
 }
 .block{
  margin:0;
  padding: 0;
 }

 .rightcontainergraph{
  width: auto;
  align-items: stretch;
 }

 .circlecontainer{
  width:100%;
 }

 .rightcontainergraph {
  width: 100%;
}
canvas {
  width: 360px !important;
  height: 240px !important;
}
.pieChart {
  width: 100%;
}
.circle {
  width: 120px;
  height: 120px;
}
}